build/*.*
build/input/**
build/input-cache/*.jar
build/output/**
build/temp/**
build/template/**
**/.DS_Store
**/thumbs.db
build/input-cache/**
/build/
/fsh-generated/
/input-cache/
/output/
/template/
/temp/
